<template>
	<div class="row justify-content-md-center">
		<div class='col-sm-12 col-md-5 col-lg-2'>
			<button class="btn btn-outline-primary btn-block" v-on:click="openForm" v-show="!isCreating"><i class='fa fa-plus-square fa-2x'></i></button>
			<div class='card text-left' v-show="isCreating">
				<div class='card-block'>
					<div style="margin-left: 10px; margin-top: 10px; margin-right:10px">
						<div class="card-title">
							<label for="title" class="col-12">Title</label>
							<input v-model="titleText" type='text' class="form-control" ref='title' defaultValue="">
						</div>
						<div class="card-subtitle mb-2 text-muted">
							<label for="title" class="col-12">Project</label>
							<input v-model="projectText" type='text' class="form-control" ref='project' defaultValue="">
						</div>
					</div>
					<div class="btn-group btn-block" role="group">
						<button class='btn btn-outline-success btn-block' v-on:click="sendForm()">
							Create
						</button>
						<button class='btn btn-outline-danger btn-block' style="margin-top:0px" v-on:click="closeForm()">
							Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			titleText: '',
			projectText: '',
			isCreating: false,
		};
	},
	methods: {
		openForm() {
			this.isCreating = true;
		},
		closeForm() {
			this.isCreating = false;
		},
		sendForm() {
			if (this.titleText.length > 0 && this.projectText.length > 0) {
			console.log(this.titleText)
				const titlee = this.titleText;
				const project = this.projectText;
				this.$emit('add-todo', {
					titlee,
					project,
					done: false,
				});
				this.newTodoText = '';
			}
			this.isCreating = false;
		},
	},
};
</script>