<template>
	<div class="row justify-content-md-center">
		<div class="col-sm-12 col-md-5 col-lg-2">
			<div class="card text-left" v-show="!isEditing">
				<div class="card-block">
					<div style="margin-left: 10px; margin-top: 10px">
						<h4 class="card-title">{{ todo.titlee }}</h4>
						<h6 class="card-subtitle mb-2 text-muted">{{ todo.project }}</h6>
						<p class="card-text">
							<span v-on:click="showForm"><i class='fa fa-pencil-square fa-2x'></i></span>
							<span v-on:click="deleteCard(todo)"><i class='fa fa-trash fa-2x'></i></span>
						</p>
					</div>
					<button class="btn btn-outline-success btn-block" v-show="todo.done">
						Completed
					</button>
					<button v-on:click="completeTodo(todo)" class="btn btn-outline-danger btn-block" v-show="!todo.done">
						Complete
					</button>
				</div>
			</div>

			<div class="card text-left" v-show="isEditing">
				<div class="card-block">
					<div style="margin-left: 10px; margin-top: 10px">
						<div class="row">
							<label for="title" class="col-12">Title:</label>
							<div class="col-12">
								<input type="text" class="form-control" id="title" v-model="todo.titlee">
							</div>
						</div>
						<div class="row"><p></p></div>
						<div class="row">
							<label for="project" class="col-12">Project:</label>
							<div class="col-12">
								<input type="text" class="form-control" id="project" v-model="todo.project">
							</div>
						</div>
					</div>
					<div><p></p></div>
					<button class="btn btn-outline-primary btn-block" v-on:click="hideForm">Save</button>
				</div>
			</div>
		</div>
		<div class="col-12"><p></p></div>
	</div>
</template>

<script type="text/javascript">
export default {
	props: ['todo'],
	data() {
		return {
			isEditing: false,
		};
	},
	methods: {
		showForm() {
			this.isEditing = true;
		},
		hideForm(e) {
			console.log('hello there', e)
			this.isEditing = false;
		},
		deleteCard(title) {
			this.$emit('delete-todo', title)
		},
		completeTodo(todo) {
			this.$emit('complete-todo', todo);
		},
	},
};
</script>
