<template v-bind:todos="todos">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p>Completed Tasks: {{todos.filter(todo => {return todo.done === true}).length}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>Pending Tasks: {{todos.filter(todo => {return todo.done === false}).length}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12">
				<create-todo v-on:add-todo="addTodo"></create-todo>
				<div><p></p></div>
				<todo v-on:complete-todo="completeTodo" v-on:delete-todo="deleteTodo" v-for="todo in todos" v-bind:todo="todo" :key="todo.title"></todo>
			</div>
		</div>
	</div>
</template>

<script>
import Todo from './Todo'
import CreateTodo from './CreateTodo'
import sweetalert from 'sweetalert'

export default {
	name: 'todo-list',
	methods: {
		deleteTodo(todo) {
			console.log(todo)
			sweetalert({
				title: 'Are you sure?',
				text: 'This To-Do will be permanently deleted!',
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#DD6B55',
				confirmButtonText: 'Yes, delete it!',
				closeOnConfirm: false,
			},
			() => {
				const todoIndex = this.todos.indexOf(todo);
				this.todos.splice(todoIndex, 1);
				sweetalert('Deleted!', 'Your To-Do has been deleted.', 'success');
			});
		},
		addTodo(todo) {
			this.todos.push({
				...todo,
				done: false,
			});
		},
		completeTodo(todo) {
			const todoIndex = this.todos.indexOf(todo);
			this.todos[todoIndex].done = true;
		},
	},
	data() {
		return {
			todos: [{
				titlee: 'Todo A',
				project: 'Project A',
				done: false,
			}, {
				titlee: 'Todo B',
				project: 'Project B',
				done: true,
			}, {
				titlee: 'Todo C',
				project: 'Project C',
				done: false,
			}, {
				titlee: 'Todo D',
				project: 'Project D',
				done: false,
			}]
		}
	},

	components: {
		Todo,
		CreateTodo
	},
}
</script>

<style>
</style>


